@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-pull-over: pull-over 0.8s ease-in-out forwards;
  --animate-put-back: put-back 0.8s ease-in-out forwards;
}

@layer components {
  .border-debug {
    @apply border-3 border-red-500;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pull-over {
  0% {
    transform: translateY(0);
    z-index: 20;
  }
  50% {
    transform: translateY(-120%);
    z-index: 20;
  }
  100% {
    transform: translateY(0);
    z-index: 100;
    border-radius: 0%;
  }
}

@keyframes put-back {
  0% {
    transform: translateY(0);
    z-index: 100;
  }
  50% {
    transform: translateY(-120%);
    z-index: 20;
  }
  100% {
    transform: translateY(0);
    z-index: 20;
  }
}
