@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-permanent: var(--font-permanent-marker);
  --font-kalam: var(--font-kalam);
  --animate-pull-over: pull-over 0.8s ease-in-out forwards;
  --animate-put-back: put-back 0.8s ease-in-out forwards;
}

@layer components {
  .border-debug {
    @apply border-3 border-red-500;
  }
}

.bg-lined-paper {
  background-color: #fffffb; /* Keep the white background */
  /* Create subtle vertical lines. You can adjust the rgba's alpha (0.04) to make lines more or less visible */
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px); /* Horizontal lines */
  /* Set the distance between lines. Here it's 2rem (32px). */
  background-size:
    20 100%,
    100% 20;
  background-attachment: local;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  height: 100%;
  overflow: hidden;
}

@keyframes pull-over {
  0% {
    transform: translateY(0);
    z-index: 20;
  }
  50% {
    transform: translateY(-120%);
    z-index: 20;
  }
  100% {
    transform: translateY(0);
    z-index: 100;
    border-radius: 0%;
    height: 100%;
    width: 120%;
    left: -10%;
  }
}

@keyframes put-back {
  0% {
    transform: translateY(0);
    z-index: 100;
    width: 120%;
    left: -10%;
    height: 100%;
    border-radius: 0%;
  }
  50% {
    transform: translateY(-120%);
    z-index: 20;
  }
  100% {
    transform: translateY(0);
    z-index: 20;
    width: 100%;
    left: 0;
    height: auto;
    border-radius: 0;
  }
}
